@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --white: #ffffff;
    --black: #1A1A1A;
    --purple: #6941C6;
    --purplebg: #F9F5FF;
    --blue: #3538CD;
    --bluebg: #EEF4FF;
    --pink: #C11574;
    --pinkbg: #FDF2FA;
    --gray: #363F72;
    --graybg: #F8F9FC;
    --green: #026AA2;
    --greenbg: #F0F9FF;
    --orgean: #C4320A;
    --orgeanbg: #FFF6ED;
    --green2:#027A48;
    --green2bg:#ECFDF3;
}